
// Notes to examiner: but we can use CSS RESET instead
body {
  margin: 0;
}

input {
  color: initial;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 2px 3px;
  height: 20px;
  border: 1px solid $brand_grey_medium_dark;                              // TODO: change to a consistent border colour
  //box-shadow: inset 0px 3px 0px 0 rgba(0, 0, 0, 0.1);     // TODO: perhaps use a  mixin

  /*
  &:focus {
    outline-offset: -2px;
    outline: 1px solid $bg-blue-hover;
  }
  #*/
}

// $mobile
@media (max-width: 300px) {
  body {
    font-size: 15px;
  }
}


// $tablet
@media (max-width: 600px) {
  body {
    background: yellow;
  }
}