// mobile
$mobile:                     400px; // 300px 450px;

// tablet
$tabletNavMenu:              580px;
$tabletNavMenuLarge:         670px;
$tablet:                     600px;


// desktop
$desktop:                   900px;
$desktopWide:               950px;
$desktopNavMenuSmall:       810px;