
// defaults
body {
  font-family: 'Droid Serif', serif;
  background: url(../images/bg-gradiant.jpg) repeat-x 0 0;
  background-size: inherit;
}

header {
  margin: 15px auto 15px auto;
  .logo {
    margin: 0 auto 0 auto;
    text-align: left;
    a {
      outline: none;
      display: block;
      height: 48px;
      outline: none;
      display: block;
      background: url('../images/netcentric-logo.png') no-repeat left bottom;
      background-size: 100%;
      max-width: 170px;
      text-indent: -2000px;
    }
  }
}



.logo,
.page-section,
.page-body,
footer section {
  width: 70%;
  max-width: $tablet;
}

footer:after {
  content: ' ';
  display: block;
  clear: both;
  height: 1px;
  width: 100%;
}



// TODO: check, may have to make block
.page-section {
  margin: 0 auto;
  h1 {
    margin: 25px 0 15px 0;
    text-shadow: 2px 2px 4px #bcbcbc;
  }
  h5 {
    font-weight: normal;
    margin: 0 0 25px 0;
    line-height: 1.3em;
  }
}

// TODO: check, may have to make block
.page-body {
  margin: 0 auto;
}

footer {
  margin: 55px 0 0 0;
  display: block;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid $brand_black;
  background: $brand_grey_dark;
  width: 100%;
  section {
    margin: 0 auto;
  }
  ul {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      list-style: none;
      border-right: solid 1px $brand_grey_medium;
      &:last-child {
        border-right: 0;
      }
      a {
        display: block;
        padding: 0 10px 0 5px;
        text-decoration: none;
        color: $brand_white;
      }
    }
  }
}


// $mobile
@media (max-width: 400px) {

  .page-section {
    h5 {
      font-size: 20px;
      margin: 5px 0 24px;
      font-weight: normal;
      font-family: 'Droid Sans', sans-serif;
    }
  }
}




// tablet
@media (max-width: 600px) {
  .logo,
  .page-section,
  .page-body,
  footer section  {
    width: 80%;
    min-width: 300px; /* $mobile; */
  }
}

@media (max-height: 700px) {
  footer   {
    display: none;
  }
}

// desktop


// retina images
/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min--moz-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {

  header {
    .logo {
      a {
        // todo: replace with netcentric-logo_@2x.png
        // background: url('../images/netcentric-logo.png') no-repeat left bottom;


        // TODO: test on ipad
        //background-size: 100%;
        //max-width: 170px;
      }
    }
  }

}