/**
* site settings
*/
$site-max-width:          1140px;
$site-min-width:          300px;

$brand_white:             #fff;
$brand_grey_medium:       #ddd;
$brand_grey_medium_dark:  #999999;
$brand_grey_dark:         #787878;
$brand_blue:              #292d5f;
$brand_black:             #000;