
ul {
    &.items {
        padding: 0;
        display: block;
        font-size: 0.8rem;

        span {
            vertical-align: middle;
        }

        li {
            pointer-events: none;
            list-style-type: none;
            padding: 0 0 0 17px;
            margin-bottom: 5px;
            height: 45px;
            &.item {
                &:nth-child(odd) {
                    //background-color: $brand_grey_medium;
                    background: linear-gradient( to right, $brand_grey_medium, $brand_grey_medium 92%, transparent 1%);
                }

                /*
                &:after {
                    //pointer-events: all;
                    cursor: pointer;
                    float: right;
                    right: -13px;
                    position: relative;
                    display: inline-block;
                    content: ' ';
                    width: 10%;
                    height: 42px;
                    background: url(../images/trash-bin.png) no-repeat center center white;
                    background-size: 40%;
                    vertical-align: middle;
                 }
                 */
            }

            span {
                display: inline-block;
            }
        }

        .item-header {
            font-weight: bold;
            @include none-selectable-test();
            &:after {
                content:" ";
                display:block;
                background: $brand_grey_dark;
                position: relative;
                bottom: -5px;
                left: -16px;
                height: 2px;
                width: 93%;
                margin-bottom: 11px;
            }
        }

        .product {
            width: 40%;
            vertical-align: -webkit-baseline-middle;
            @include none-selectable-test();
        }

        .price {
            width: 15%;
            vertical-align: -webkit-baseline-middle;
            @include none-selectable-test();
        }

        .quantity {
            width: 15%;
            margin-top: 7px;
            //pointer-events: all;
            input {
                pointer-events: all;
                width: 39%;
                height: 29px;
                padding: 0 2px;
                margin: 0;
            }
            .btn-spinner {
                display: inline-block;
                vertical-align: top;
                margin-top: -1px;
                width: 16px;
                span {
                    &:first-child {
                        /* border-bottom: 1px solid $brand_white; */
                    }
                    &.increment,
                    &.decrement {
                        pointer-events: all;
                    }
                    cursor: pointer;
                    display: inline-block;
                    padding: 0px 3px;
                    color: white;
                    background: $brand_grey_dark;
                    width: 10px;
                    text-align: center;
                }
            }

        }

        .cost {
            width: 15%;
            vertical-align: -webkit-baseline-middle;
            @include none-selectable-test();
        }

        .delete {
            pointer-events: all;
            width: 10%;
            height: 45px;
            float: right;
            cursor: pointer;
            text-indent: -2000px;
            background: url(../images/trash-bin.png) no-repeat center center; // for webkit browser: background-image: -webkit-image-set( url(../images/trash-bin.png) 1x, url(../images/trash-bin_@2x.png) 2x);
            background-size: 53%;
            vertical-align: middle;
        }
    }
}

section {
    &.totals {
        width: 91%;
        span {
            color: $brand_grey_dark;
            &:last-child {
                display: inline-block;
                float: right;
            }
        }

        div:last-child {
            margin-top: 30px;
            span {
                font-weight: bold;
                color: $brand_black;
            }
        }
    }

    &.btn-group {
        width: 91%;
        input{
            pointer-events: all;
            float: right;
            background: #292d5f;
            color: white;
            border-radius: 5px;
            padding: 10px 7px 25px;
            vertical-align: top;
            box-shadow: 2px 2px 4px #bcbcbc;
            font-family: 'Droid Sans', sans-serif;
            cursor: pointer; // strange but was needed
        }
    }
}


// $mobile
@media (max-width: 400px) {

    header {
        .logo {
            margin-left: 15px;
        }
    }

    .page-section {
        padding-left: 20px;

        h5 {
            padding-right: 31px;
            font-size: 1rem;
        }
    }

    ul {
        &.items {

            .item-header {
                display: none; // TODO: temporary solution
                .quantity {

                }
            }

            li {
                height: 60px;
                &.item {
                    /*
                    &:after {
                        background-size: 75%;
                        right: 9px;
                        width: 18%;
                        position: absolute;
                        background-size: 100%;
                        vertical-align: middle;
                    }
                    */
                    &:nth-child(odd) {
                        background: linear-gradient(to right, #ddd, #ddd 87%, transparent 1%);
                    }
                }
            }

            .product {
                width: 84%;
                clear: right;
                font-size: 1.2rem;
            }

            .price {
                width: 25%;
                font-size: 1.2rem;
                vertical-align: -webkit-baseline-middle;
            }

            .delete {
                width: 36px;
                position: relative;
                top: -24px;
                height: 60px;
                background-size: 98%;
            }

            input {
                &.quantity {
                    font-size: 1.2rem;
                }
            }

            .quantity {
                margin-top: 0;
                width: 55%;
                input {
                    font-size: 1.2rem;
                    width: 20%;
                }
                .btn-spinner {
                    width: 84px;
                    span {
                        padding: 9px 3px;
                        width: 35px;
                        margin-right: 1px;
                    }
                }
            }



            .cost {
                display: none;
                /*
                width: 10%;
                font-size: 1.2rem;
                vertical-align: -webkit-baseline-middle;
                text-align: right;
                */
            }
        }






    }

    .totals {
        div {
            clear: both;
        }
    }

    section {
        &.btn-group {
            input {
                display: block;
                float: none;
                width: 80%;
                margin-top: 46px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    section {
        &.totals {
            padding-left: 15px;
            padding-right: 25px;
            font-size: 1.2rem;

            span {
                &:last-child {
                padding-right: 34px;
                }
            }
        }
    }

    footer {
        position: relative !important;
    }
}


// $tablet
@media (max-width: 600px) {


    ul {
        &.items {
            .cost {
                width: 15%;
            }
            li {
                &.item {
                    /*
                    &:after {
                        background-size: 47%;
                        right: 9px;
                        position: absolute;
                        background-color: transparent;
                    }
                    */
                }
            }
        }
    }

    section {
        &.btn-group {
            padding-bottom: 48px;
        }
    }

    footer {
        position: relative;
        bottom: 0;
        display: block;
        ul {
            li {
                display: block;
                border-right: 0;
                a {
                    padding: 10px;
                }
            }
        }
    }
}


// retina
// retina images
/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min--moz-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {

    ul {
        &.items {
            .delete {
                // TODO: replace with  trash-bin_@2x.png
                // background: url(../images/trash-bin.png) no-repeat center center white;
            }
        }
    }
}